{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">
      
    <div class="breadcrumbs">
    <ol>
      <li><a href=".index">Digital Marketplace</a></li>
      <li><a href="/suppliers/sell">Become a supplier</a></li>
      <li><a href="/suppliers/start">Create an account</a></li>
    </ol>
  </div>

<div id="wrapper">
    <main id="content" role="main">

  
  <div class="grid-row">
  
    <div class="column-one-whole">
      
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb"><p class="context">
      10386@user.marketplace.team
    </p><h1>
    Redwood Technologies Ltd
  </h1>
</header>
      
    </div>
  </div>



  <h2 class="visually-hidden">Your services</h2>
  <div class="grid-row">
    <div class="column-two-thirds dmspeak">

      <div class="temporary-message-main">
        <h2 class="temporary-message-heading-main">
          Apply to Digital Outcomes and Specialists 3
        </h2>
        <p class="temporary-message-message-main">
          Deadline: 5pm GMT, 32 February 2525
        </p>
        <input type="submit" class="button-save" value="Start application" style="margin: 15px 0 0 0">

      </div>


  <h3 class="heading-xmedium">G-Cloud 9</h3>
  <p>
  
    
    <a href="/suppliers/frameworks/g-cloud-9/services">View services</a><br>
    <a href="/suppliers/frameworks/g-cloud-9">View documents and ask a question</a>
  
  </p>


    </div>
    <div class="column-one-third dmspeak">
      <h2 class="heading-xmedium">Your company</h2>
      <p>
        <a href="/suppliers/details">Supplier details</a><br>
        <a href="/suppliers/users">Contributors</a>
      </p>
    </div>
  </div>

    </main>
  </div>


    </main>

{% endblock %}


