{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">

    <div class="breadcrumbs">
    <ol>
      <li><a href=".index">Digital Marketplace</a></li>
      <li><a href="/suppliers/sell">Become a supplier</a></li>
      <li><a href="/suppliers/start">Create an account</a></li>
    </ol>
  </div>

  <div class="grid-row framework-dashboard">
    <div class="column-two-thirds">
      
      <header class="page-heading-smaller page-heading-without-breadcrumb">
        <h1>
          Apply to Digital Outcomes and Specialists 3  
        </h1>
      </header>
      

            
      <aside role="complementary" class="framework-application-status" aria-label="G-Cloud 10 status">
        Deadline: 5pm BST, 34 March 2525
      </aside>



      

      <li class="browse-list-item">
        
          <a class="browse-list-item-link" href="/suppliers/supplier_details">
          <span>Complete your supplier account</span>
          </a>
        
        <p class="browse-list-item-body">
          Confirm your company details and registration information.
        </p>
        
        <div class="browse-list-item-status-quiet">
          <p class="browse-list-item-status-title">You need to complete your supplier account</p>
        </div>
        
      </li>

      <li class="browse-list-item">
        
          <a class="browse-list-item-link" href="/suppliers/frameworks/g-cloud-10/declaration/start">
          <span>Make supplier declaration</span>
          </a>
        
        <p class="browse-list-item-body">
          Confirm eligibility, agree to the application terms and provide supplier&nbsp;information.
        </p>
        
        <div class="browse-list-item-status-quiet">
          <p class="browse-list-item-status-title">You need to make the supplier declaration</p>
        </div>
        
      </li>

<li class="browse-list-item">
  <a class="browse-list-item-link" href="/suppliers/frameworks/g-cloud-10/submissions">
    <span>Add, edit and complete services</span>
  </a>
  
    <div class="browse-list-item-body">
      <p>The service information you provide here:</p>
<ul>
<li>will be public</li>
<li>may be used as filters</li>
<li>will appear on your service description page</li>
<li>should help buyers review and compare services</li>
</ul>
    </div>
  
  
  <div class="browse-list-item-status-quiet">
    <p class="browse-list-item-status-title">You need to add and complete services</p>
  </div>
  

  

  
</li>

      
      
      <div class="dmspeak">
  <div>
    <h2 class="heading-xmedium">Guidance</h2>

    

    <p>
      <a href="https://www.gov.uk/guidance/g-cloud-suppliers-guide#how-to-apply">
        Read about how to 
        
          apply
        
      </a>
    </p>
  </div>


  <div>
    <h2 class="heading-xmedium">Legal documents</h2>

    

    
  </div>

  <div>
    <h2 class="heading-xmedium">Communications</h2>

    
    <p>
      You can review and ask clarification questions about this
      framework until 5pm BST, 32 March 2525.
    </p>
    

    <p>
      <a href="/suppliers/frameworks/g-cloud-10/updates">
        View communications and
        ask
        clarification questions
      </a>
      
      <span class="hint">
        Last updated
        <time datetime="2018-01-16T14:02:20.696613Z">
          Tuesday 16 January 2018
        </time>
      </span>
      
    </p>
  </div>

</div>

    </div>
  </div>


    </main>

{% endblock %}


