{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/suppliers/sell">Become a supplier</a></li>
      <li><a href="/suppliers/start">Create an account</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
       <h1 class="heading-large">
        Change your {{data['page']}}
      </h1>

        <p>Contact <a href="#">cloud_digital@crowncommercial.gov.uk</a> to make changes to your:</p>
          <ul class="list-bullet">
            <li>registered company name</li>
            <li>registration number</li>
            <li>VAT number</li>
            <li>DUNS number</li>
          </ul>

          <br>
          
<a href="/suppliers/supplier_details" class="">Return to company details</a>

</div>
</div>
</main>

{% endblock %}

