{% extends "layout.html" %}

{% block page_title %}
    Digital Marketplace
{% endblock %}


{% block content %}

        

    

  <div id="wrapper">
<main id="content" role="main">
      
  

      




  <h1 class="heading-large">
    Complete your contributor account for {{data["question-company_name"]}}
  </h1>


<form autocomplete="off" action="/blank" method="POST">
    <div class="grid-row">
        <div class="column-two-thirds">

            <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="##1bff122315c610d954df9edb9fec36bef4d60166"></div>

            
                <div class="question" id="contributor_name">
                    <label class="question-heading" for="contributor_name">Your name</label>
                    <p class="hint">
                      Enter the name to be referred to on the Digital Marketplace
                    </p>
                    <input autocomplete="off" class="text-box" id="contributor_name" name="contributor_name" type="text" value="">
                </div>
            

            
                <div class="question" id="password">
                    <label class="question-heading" for="contributor_password">Password</label>
                    <p class="hint">
                      Must be between 10 and 50 characters
                    </p>
                    <input autocomplete="off" class="text-box" id="contributor_password" name="contributor_password" type="password" value="">
                </div>
            
              <input type="submit" class="button-save" value="Create a contributor account">

            

        </div>
    </div>
</form>

    </main>
</div>

{% endblock %}
