{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Digital Marketplace</a></li>
      <li><a href="/suppliers/account">Your account</a></li>
      <li><a href="/suppliers/application">Your Digital Outcomes and Specialists 3 application</a></li>
      <li><a href="/suppliers/supplier_details">Company details</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data['edit3'] == "true" %}
        <form action="/suppliers/supplier_details" method="post" class="form">
      {% else %}
        <form action="/suppliers/question_trading_status" method="post" class="form">
      {% endif %}

        <h1 class="heading-large">
          Are you registered with Companies House?
        </h1>
        <br>

          <div class="form-group">
            <fieldset>

              <div class="multiple-choice" data-target="ch-registration">
                <input id="companies-house" type="radio" name="question-registration-number" value="Yes">
                <label for="companies-house">Yes</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="ch-registration">
                <label class="form-label" for="question-registration-number">Companies House number</label>
                <input class="form-control" name="question-registration-number-answer-1" type="text" id="one">
                <span class="hint"><a href="https://beta.companieshouse.gov.uk/search/companies">Find your 8 digit Companies House number</a></span>
              </div>

              <div class="multiple-choice" data-target="other-registration">
                <input id="other" type="radio" name="question-registration-number" value="No">
                <label for="other">No</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="other-registration">
                <label class="form-label" for="question-registration-number">Enter a number that can be used to identify your business</label>
                <input class="form-control" name="question-registration-number-answer-2" type="text" id="one">
                <br><br>
                <label class="form-label" for="question-registration-number-detail">What is this number? For example, 'French Central Exchange Registration number'</label>
                <textarea class="form-control" name="question-registration-number-answer-3" type="text" id="one"></textarea>
                <!-- <p class="hint">If your business was not established in the UK check that your organisation complies with <a href="http://www.legislation.gov.uk/uksi/2015/102/regulation/58/made" target="_blank" rel="noopener noreferrer">Schedule 5, Regulation 58(5) (link opens in a new tab)</a> of the Public Contracts Regulations 2015.</p> -->
              </div>


            </fieldset>
          </div>


        <input type="submit" class="button-save" value="Save and continue">
        <a href="/suppliers/supplier_details">Return to company details</a>
      </form>


    </div>
  </div>
</main>


{% endblock %}


