{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Digital Marketplace</a></li>
      <li><a href="/suppliers/account">Your account</a></li>
      <li><a href="/suppliers/application">Your Digital Outcomes and Specialists 3 application</a></li>
      <li><a href="/suppliers/supplier_details">Company details</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data['edit2'] == "true" %}
        <form action="/suppliers/supplier_details" method="post" class="form">
      {% else %}
        <form action="/suppliers/question_registration_number" method="post" class="form">
      {% endif %}

        <h1 class="heading-large">
          What is your registered office address?
        </h1>
        <br>

        <div class="form-group">
          <fieldset>
            <div class="question">
                    
              <input type="hidden" class="text-box" name="contact_id" id="contact_id-input" value="{{data['contact_id']}}">
                    <div class="box-label question-heading" id="address1-label">Building and street</div>
                    
              <input type="text" class="text-box" name="contact_address1" id="contact_address1-input" value="{{data['contact_address1']}}">
              <br>      
                    <div class="box-label question-heading" id="city-label">Town or city</div>
                    
              <input type="text" class="text-box" name="contact_city" id="contact_city-input" value="{{data['contact_city']}}">
              <br>     
                    <div class="box-label question-heading" id="postcode-label">Postcode</div>
                    
              <input type="text" class="text-box" name="contact_postcode" id="contact_postcode-input" value="{{data['contact_postcode']}}">
              <br>
                    <div class="box-label question-heading" id="postcode-label">Country</div>

              <input type="text" class="text-box" name="contact_country" id="contact_postcode-input" value="{{data['contact_country']}}">
                  </div>


          <input type="submit" class="button-save" value="Save and continue">
          <a href="/suppliers/supplier_details">Return to overview</a>
          </fieldset>
        </div>
      </form>



    </div>
  </div>
</main>

{% endblock %}


