{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Digital Marketplace</a></li>
      <li><a href="/suppliers/account">Your account</a></li>
      <li><a href="/suppliers/application">Your Digital Outcomes and Specialists 3 application</a></li>
      <li><a href="/suppliers/supplier_details">Company details</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data['edit4'] == "true" %}
        <form action="/suppliers/supplier_details" method="post" class="form">
      {% else %}
        <form action="/suppliers/question_org_size" method="post" class="form">
      {% endif %}

        <h1 class="heading-large">
          What's your trading status?
        </h1>
        <div class="padding-bottom"></div>
      
        <div class="form-group">
          <fieldset>

        <div class="multiple-choice">
          <input id="plc" type="radio" name="question-trading-status" value="public limited company">
          <label for="plc">public limited company (PLC)</label>
        </div>

        
        <div class="multiple-choice">
          <input id="ltd" type="radio" name="question-trading-status" value="limited company">
          <label for="ltd">limited company (Ltd)</label>
        </div>
        

         <div class="padding-bottom"></div>
        <div class="multiple-choice">
          <input id="llc" type="radio" name="question-trading-status" value="limited liability company">
          <label for="llc">limited liability company (LLC)</label>
        </div>
        
        <div class="padding-bottom"></div>
        <div class="multiple-choice">
          <input id="llp" type="radio" name="question-trading-status" value="No">
          <label for="llp">limited liability partnership (LLP)</label>
        </div>
        

        <div class="padding-bottom"></div>
        <div class="multiple-choice">
          <input id="other" type="radio" name="question-trading-status" value="other partnership">
          <label for="other">other partnership</label>
        </div>
       

        <div class="padding-bottom"></div>
        <div class="multiple-choice">
          <input id="st" type="radio" name="question-trading-status" value="sole trader">
          <label for="st">sole trader</label>
        </div>
        

        <div class="padding-bottom"></div>
        <div class="multiple-choice">
          <input id="ec" type="radio" name="question-trading-status" value="established consortium">
          <label for="ec">established consortium</label>
        </div>
       

         <div class="padding-bottom"></div>
        <div class="multiple-choice">
          <input id="tc" type="radio" name="question-trading-status" value="to-be-formed consortium">
          <label for="tc">to-be-formed consortium</label>
        </div>
      

          <div class="padding-bottom"></div>
        <div class="multiple-choice">
          <input id="spv" type="radio" name="question-trading-status" value="special purpose vehicle">
          <label for="spv">special purpose vehicle</label>
        </div>
      

          <div class="padding-bottom"></div>

        <div class="multiple-choice" data-target="other-registration">
          <input id="other2" type="radio" name="question-trading-status" value="Other">
          <label for="other2">other</label>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="other-registration">
          <label class="form-label" for="question-trading-status-other">Provide details</label>
          <textarea class="form-control" name="question-trading-status-other" type="text" id="one" value="{{data['question-trading-status-other']}}"></textarea>
        </div>



      </form>

<fieldset>

          <input type="submit" class="button-save" value="Save and continue">
          <a href="/suppliers/supplier_details">Return to overview</a>
          </fieldset>
        </div>
      </form>



    </div>
  </div>
</main>

{% endblock %}


