{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/suppliers/sell">Become a supplier</a></li>
      <li><a href="/suppliers/start">Create an account</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/suppliers/supplier_details" method="post" class="form">

        <h1 class="heading-large">
          Are you registered for VAT?
        </h1>
        <br>
        <p class="padding-bottom">Enter your VAT number if you have one or leave this box blank if you don't.</p>

        <div class="form-group">
          <fieldset>


          <div class="question" id="question-vat">
                
                <input
                  type="text"
                  name="question-vat"
                  id="question-vat"
                  class="text-box"
                  value="{{data['question-vat']}}"
                />

                <input
                  type="text"
                  name="complete"
                  id="complete"
                  class="text-box visually-hidden"
                  value="true"
                />
                
            </div>

          <input type="submit" class="button-save" value="Save and continue">
          <a href="/suppliers/supplier_details">Return to overview</a>
          </fieldset>
        </div>
      </form>



    </div>
  </div>
</main>

{% endblock %}


