{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Digital Marketplace</a></li>
      <li><a href="/suppliers/account">Your account</a></li>
      <li><a href="/suppliers/application">Your Digital Outcomes and Specialists 3 application</a></li>
      <li><a href="/suppliers/supplier_details">Company details</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if data['edit6'] == "true" %}
        <form action="/suppliers/supplier_details" method="post" class="form">
      {% else %}
        <form action="/suppliers/supplier_details" method="post" class="form">
      {% endif %}


        <h1 class="heading-large">
          Are you registered for VAT?
        </h1>
        <br>

          <p class="padding-bottom-small"> If you're not sure, <a href=>check the VAT threshold.</></a><p>

        <br>
          <div class="form-group">
            <fieldset>

              <div class="multiple-choice" data-target="yes-vat">
                <input id="companies-house" type="radio" name="question-vat" value="Yes">
                <label for="companies-house">Yes</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="yes-vat">
                <label class="form-label" for="question-registration-number">What is your VAT number?</label>
                <input class="form-control" name="question-vat-number" type="text" id="one">
              </div>

              <div class="multiple-choice" data-target="">
                <input id="other" type="radio" name="question-vat" value="N/A">
                <label for="other">No</label>
              </div>
            </fieldset>
          </div>



          <input type="submit" class="button-save" value="Save and continue">
          <a href="/suppliers/supplier_details">Return to overview</a>
          </fieldset>
        </div>
      </form>



    </div>
  </div>
</main>

{% endblock %}


