{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/suppliers/sell">Become a supplier</a></li>
      <li><a href="/suppliers/start">Create an account</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/suppliers/question_trading_status" method="post" class="form">

        <h1 class="heading-large">
          Are you registered with Companies House?
        </h1>
        <br>

        <form>
        <div class="form-group">
         <fieldset>

      <div class="multiple-choice" data-target="question-registration-number">
        <input id="companies-house" type="radio" name="Companies house" value="Yes">
        <label for="companies-house">Yes</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="companies-house">
        <label class="form-label" for="contact-email">Companies House number</label>
        <input class="form-control" name="contact-email" type="text" id="contact-email">
      </div>

      <div class="multiple-choice" data-target="question-registration-number">
        <input id="other" type="radio" name="radio-contact-group" value="No">
        <label for="other">No</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="other">
        <label class="form-label" for="contact-phone">Organisation registration number</label>
        <input class="form-control" name="contact-phone" type="text" id="contact-phone">
      </div>

    </fieldset>
  </div>
</form>

<input type="submit" class="button-save" value="Save and continue">
          <a href="/suppliers/supplier_details">Return to overview</a>
         
        </div>
      </form>

{% endblock %}


