{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
{% set any_open = "false" %}
{% set any_closed = "false" %}

{% for framework in frameworks %}
  {% if framework.framework in coming_open %}
    {% set any_open = "true" %}
  {% endif %}
{% endfor %} 

{% for framework in frameworks %}
  {% if framework.framework in pending_closed %}
    {% set any_closed = "true" %}
  {% endif %}
{% endfor %} 



<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large padding-bottom">Become a supplier</h1>
      {% if any_open == "true" %}
        <p">You can apply to sell:
          <ul class="list-bullet">
            {% for framework in frameworks %}
              {% if framework.framework in coming_open %}
                {% for lot in framework.lots %}
                  <li>{{ lot.lot }}</li>
                {% endfor %}
              {% endif %}
            {% endfor %}  
          </ul>
        </p>
        <div class="padding-bottom-small"></div>
        <a href="/suppliers/start/content">Create a supplier account</a>
      {% endif %}
      
      {% if any_closed == "true" %}
        {% if any_open == "true" %}
          <h2 class="heading-medium">If you can’t supply anything at the moment</h2>
        {% else %}
          <h2 class="heading-medium">You can’t supply anything at the moment while applications are closed.</h2>
        {% endif %}
        <p>You can <a href="/suppliers/subscribe/content">sign up for emails</a> to find out when applications open for:
          <ul class="list-bullet">
            {% for framework in frameworks %}
              {% if framework.framework in pending_closed %}
                {% for lot in framework.lots %}
                  <li>{{ lot.lot }}</li>
                {% endfor %}
              {% endif %}
            {% endfor %}  
          </ul>
        </p>
        <div class="padding-bottom-small"></div>
        <p>It’ll take about 10 minutes to create a supplier account once applications are open.</p>
      {% endif %}

    </div>
  </div>

</main>

{% endblock %}


