{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/suppliers/sell">Become a supplier</a></li>
    </ol>
  </div>

<div class="start-page">
  
    <header class="page-heading-smaller page-heading-without-breadcrumb"><h1>
    Create a supplier account
  </h1>
</header>
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="dmspeak">
        <p>If your company is not <a href="https://beta.companieshouse.gov.uk/" rel="external">registered with Companies House</a>,
           you you'll need to <a href="https://www.dnb.co.uk/duns-number/lookup/request-a-duns-number.html" rel="external">apply for a DUNS number</a>
           before you create a supplier account.
        </p>

        <p>
          It could take 3 to 5 days to get your DUNS number.
        </p>
      </div>
      <br>
      <a href="/suppliers/question_duns/content" class="button-save">Start</a>
    </div>
  </div>
</div>
</main>

{% endblock %}





