{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/suppliers/sell">Become a supplier</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Create a supplier account
      </h1><br>

      <h2 class="heading-small padding-bottom-small">What you will need to do</h2>
      <p class="">
      <ul class="list-number">
        <li>Create a supplier account for your company and become a contributor.</li>
        <li>Apply to sell your services when applications are open.</li>
      </ul>
      Read the <a href="https://www.gov.uk/guidance/digital-marketplace-suppliers-guide">Digital Marketplace suppliers' guide</a> for more information.
      </p>
      <div class="padding-bottom-small"></div>
      
      <h2 class="heading-small padding-bottom-small">Before you start</h2>
      <p class="">
        To create a supplier account, you’ll need your company’s:
        <ul class="list-bullet">
          <li>head office <a href="https://www.dnb.co.uk/duns-number.html">DUNS number</a></li>
          <li><a href="https://beta.companieshouse.gov.uk/">Companies House number</a> (if you have one)</li>
          <li>contact details</li>
        </ul>
      </p>
      <div class="padding-bottom"></div>
      <p class="padding-bottom">
        When you have set up your account we will send you a confirmation email. You must click on the link in the email to activate your supplier account.
      </p>
      <a href="/suppliers/question_duns/content" class="button-save">Start</a>

    </div>
  </div>
</main>

{% endblock %}





