{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/suppliers/sell">Become a supplier</a></li>
    </ol>
  </div>

<div class="start-page">
   <div class="grid-row">
    <div class="column-two-thirds"> 
    <header class="page-heading-smaller page-heading-without-breadcrumb">
      <h1>
        Create a supplier account
      </h1>
    </header>

    <p>You must provide:</p>
    <ul class="list-bullet padding-bottom-small">
      <li>a company name and company details that buyers may use to contact you</li>
      <li>your own details to create a login (these could be the same as your company details)</li>
    </ul>

    <p class="">It will take about 5 mins to create your account.</p>

    <h2 class="heading-medium">If your company isn't registered with Companies House</h2> 

      <div class="dmspeak padding-bottom-small">
        <p>If your company isn't <a href="https://beta.companieshouse.gov.uk/" rel="external">registered with Companies House</a>,
           you may need to <a href="https://www.dnb.co.uk/duns-number/lookup/request-a-duns-number.html" rel="external">apply for a DUNS number</a>
           before you can create a supplier account.
        </p>

        <p>
          This could take 3 to 5 days.
        </p>
      </div>
      <br>
      <a href="/suppliers/question_duns/content" class="button-save">Start</a>
    </div>
  </div>
</div>
</main>

{% endblock %}





