{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Digital Marketplace</a></li>
      <li><a href="/suppliers/account">Your account</a></li>
      <li><a href="/suppliers/application">Your Digital Outcomes and Specialists 3 application</a></li>
    </ol>
  </div>
      

  <header class="page-heading-smaller page-heading-without-breadcrumb"><h1>
    Company details
  </h1>
</header>


  <h2 class="summary-item-heading" id="registration_information">
    What buyers will see
  </h2>
<p class="summary-item-top-level-action">
    <a href="/suppliers/public_info" class="summary-change-link">Edit</a>
  </p>
<table class="summary-item-body">
    <caption class="visually-hidden">
      Supplier details
    </caption>
    <thead class="summary-item-field-headings">
      <tr>
        
          <th scope="col" class="summary-item-field-heading-first">
            
              <span class="visually-hidden">Label</span>
            
          </th>
        
          <th scope="col" class="summary-item-field-heading">
            
              <span class="visually-hidden">Value</span>
            
          </th>
        
      </tr>
    </thead>
    <tbody>

      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>Contact name</span>
        </td>
        <td class="summary-item-field">
          <span>{{data["question-company_contact_name"]}}</span>
        </td>
        <td></td>
      </tr>
      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>Contact email</span>
        </td>
        <td class="summary-item-field">
          <span>{{data["question-company_contact_email"]}}</span>
        </td>
        <td></td>
      </tr>
      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>Contact phone number</span>
        </td>
        <td class="summary-item-field">
          <span>{{data["question-company_contact_phone"]}}</span>
        </td>
        <td></td>
      </tr>
      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>Summary</span>
        </td>
        <td class="summary-item-field">
          <span>{{data["question-summary"]}}</span>
        </td>
        <td class="summary-item-field-with-action">
          <span class="hint" style="font-size: 16px; margin: 0; padding: 0;">Optional</span>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading" id="registration_information">
    Company details for your framework applications
  </h2>
<!--   <p class="summary-item-description">
    This is shared with CCS to process your applications and manage your participation on frameworks.
  </p> -->
  <table class="summary-item-body">
    <caption class="visually-hidden">
      Registration information
    </caption>
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col" class="summary-item-field-heading-first">
          <span class="visually-hidden">Label</span>
        </th>
        <th scope="col" class="summary-item-field-heading">
          <span class="visually-hidden">Value</span>
        </th>
      </tr>
    </thead>
    <tbody>

      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>Registered company name</span>
        </td>
        <td class="summary-item-field">
          {% if data["question-registered-company-name"] %}
            <span>{{data["question-registered-company-name"]}}</span>
          {% else %}
            <a href="/suppliers/question_registered_company_name">Answer required</a></span>
          {% endif %}
        </td>
        {% if data["question-registered-company-name"] and data["completed"] != "true" and data['returning-user'] != "true" %}
          <td class="summary-item-field-with-action">
            <a href="/suppliers/question_registered_company_name?edit1=true">Edit</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>Registered company address</span>
        </td>
        <td class="summary-item-field">
          {% if data["contact_address1"] %}
            <span>
              {{data['contact_address1']}}<br>
              {{data['contact_city']}}<br>
              {{data['contact_postcode']}}<br>
              {{data['contact_country']}}
            </span>
          {% else %}
            <a href="/suppliers/question_registered_company_address">Answer required</a></span>
          {% endif %}
        </td>
        {% if data["contact_address1"] %}
          <td class="summary-item-field-with-action">
            <a href="/suppliers/question_registered_company_address?edit2=true">Edit</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>Registration number</span>
        </td>
        <td class="summary-item-field">
          {% if data["question-registration-number"] %}
            <span>
              {% if data["question-registration-number"] == "Yes" %}
                {{data["question-registration-number-answer-1"]}}
              {% else %}
                {{data["question-registration-number-answer-2"]}}
              {% endif %}
            </span>
          {% else %}
            <a href="/suppliers/question_registration_number">Answer required</a></span>
          {% endif %}
        </td>
        {% if data["question-registration-number"] and data["completed"] != "true" and data['returning-user'] != "true" %}
          <td class="summary-item-field-with-action">
            <a href="/suppliers/question_registration_number?edit3=true">Edit</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>Trading status</span>
        </td>
        <td class="summary-item-field">
          {% if data["question-trading-status"] %}
            <span>{{data["question-trading-status"]}}</span>
          {% else %}
            <a href="/suppliers/question_trading_status">Answer required</a></span>
          {% endif %}
        </td>
        {% if data["question-trading-status"] %}
          <td class="summary-item-field-with-action">
            <a href="/suppliers/question_trading_status?edit4=true">Edit</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>Organisation size</span>
        </td>
        <td class="summary-item-field">
          {% if data["question-org_size"] %}
            <span>{{data["question-org_size"]}}</span>
          {% else %}
            <a href="/suppliers/question_org_size">Answer required</a></span>
          {% endif %}
        </td>
        {% if data["question-org_size"] %}
          <td class="summary-item-field-with-action">
            <a href="/suppliers/question_org_size?edit5=true">Edit</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>VAT number (if you have one)</span>
        </td>
        <td class="summary-item-field">
          {% if data["question-vat"] %}
            <span>
              {% if data["question-vat"] == "N/A" %}
               {{data["question-vat"]}}
              {% else %}
                {{data["question-vat-number"]}}
              {% endif %}
            </span>
          {% else %}
            <a href="/suppliers/question_vat_number">Answer required</a></span>
          {% endif %}
        </td>
        {% if data["question-vat"] and data["completed"] != "true" and data['returning-user'] != "true" %}
          <td class="summary-item-field-with-action">
            <a href="/suppliers/question_vat_number?edit6=true">Edit</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>

      <tr class="summary-item-row">
        <td class="summary-item-field-first">                
          <span>DUNS number</span>
        </td>
        <td class="summary-item-field">
          <span>{{data["question-duns"]}}</span>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data['completed'] or data['returning-user'] == "true" %}

        <br>
        <p>Contact <a href="#">cloud_digital@crowncommercial.gov.uk</a> to make changes to your:</p>
        <br>
          <ul class="list-bullet">
            <li>registered company name</li>
            <li>registration number</li>
            <li>VAT number</li>
            <li>DUNS number</li>
          </ul>
        <br><br>

      {% elif data["question-vat"] and data["question-org_size"] and data["question-trading-status"] and data["question-registration-number"] and data["contact_address1"] and data["question-registered-company-name"] and data["returning-user"] != "true" %}

        <form action="/suppliers/application" method="post" class="form">

            <div class="question visually-hidden" id="">
              <input
                type="text"
                name="completed"
                id=""
                class="text-box"
                value="true"
              />
            </div>
          <br>
          <p>
            Once you confirm this information, you'll have to contact support to edit your:
          </p>
          <br></br>
          <ul class="list-bullet">
            <li>registered company name</li>
            <li>registration number</li>
            <li>VAT number</li>
            <li>DUNS number</li>
          </ul>
          <input type="submit" class="button-save" value="Save and confirm">
          
        </form>

      {% else %}
        You must complete your company details to make an application.
        <br><br>
      {% endif %}

      
      <a href="/suppliers/application">Return to your Digital Outcomes and Specialists 3 application</a>
        </div>
      </div>
    </main>

{% endblock %}
