{% extends "layout_unbranded.html" %}

{% block page_title %}
    Digital Marketplace
{% endblock %}


{% block content %}

        

    

  <div id="wrapper">
<main id="content" role="main">
      
  

      

      <br><br>
      Hello, 
      <br><br>
      You have requested a new supplier account on the Digital Marketplace. 
      <br><br>
      Click the link below to confirm your account. 
      <br><br>
      <a href="/suppliers/password">https://www.staging.marketplace.team/suppliers/create-user/gAAAAABZfzyYe7UVlOBl2QdFhU8cSAXgdobsAd9keTubAFpSn_N_jSwIFvytyp3hj3cyi-j8-GqkqCCkd8VWI7jybCmobt09LtXqaobAywjAqHH_qHHMQTguB3SHDVpNrG8_6UCq3yczvinpPMMb9autUkVisNM8CIA7FrOGDOAH-TgHMKOvZHP3zUpQmIp5zn2o0ZAr8noG-LHlk9sSAyOAR3XSmQlQGB-IxV1X694psZ2ikX3R7zw%3D </a>
      <br><br>
      You must click this link within 7 days of receiving this email. 
      <br><br><br><br>
      This is an automated message. Email enquiries@digitalmarketplace.service.gov.uk if you need help. 
      <br><br>
      Thanks, 
      <br><br>
      The Digital Marketplace Admin Team

    </main>
</div>

{% endblock %}
